/* 

  ::PORTFOLIO-GALLERY PAGE
	
  :: GOAL CONSTRUCTION Cascading Stylesheet
  :: Author:  Farzin Fadamin ( Horus )
  :: Twitter: @farzinfadamin
  :: Email Address: farzin.fadamin@mexo.co
  :: Version: 1.0 - MAR 2012

*/



.sub-category {
	margin-bottom: 20px;
}

.sub-category li {
	margin-right: 4px;
}

.sub-category li a {
	padding: 2px 8px;
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.sub-category li a:hover, .sub-category li.active a {
	background-color: #3681c6;
	color: #fff;
	text-decoration: none;
	
}

.sub-category li a:hover:before, .sub-category li.active a:before,
.sub-category li .sub-category-before, .sub-category li.active .sub-category-before {
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -8px;
	content:"";
	display: block;
	width: 0;
	height:0;
	border-width: 6px 8px 0 8px;
	border-color: #3681c6 transparent transparent transparent;
	border-style: solid;
}

.portfolio-gallery-list {
	margin: 30px;
	display: inline-block;
	text-align: center;
}

.portfolio-gallery-list li {
	background-image: -ms-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
	background-image: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
	background-image: -o-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #F0F0F0));
	background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
	background-image: linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
	background-color: #f0f0f0;
	position: relative;
	border: 1px solid #d4d4d4;
	box-shadow: 0 2px 2px rgba(0,0,0,.3);
	padding: 10px;
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

.portfolio-gallery-list li.no-margin{
	margin-right:0;
}

.portfolio-gallery-list li:before {
	position: absolute;
	background: transparent url("images/portfolio/bg-gallery-shadow.png") no-repeat;
	left: 0;
	bottom: -15px;
	width: 290px;
	height: 15px;
	content:"";
}

.portfolio-gallery-list a{
	display: block;
	position: relative;
	width: 268px;
	height: 182px;
	color: #333;
}

.portfolio-gallery-list a:hover{
	text-decoration: none;
}

.portfolio-gallery-list span {
	position: absolute;
	left: 0;
	top: 0;
	width: 268px;
	height: 182px;
	z-index: 2;
	background: transparent url("images/portfolio/bg-gallery-hover.png") no-repeat center center;
	display: none;
}

.portfolio-gallery-list a:hover span {
	display: block;
}