		<section class="content-section clearfix">
			<header>
				<hgroup>
					<h2>About Us</h2>
					<h4></h4>
				</hgroup>
				<nav class="breadcrumb">
					<a href="./">Home</a>
					<span>&rsaquo; About Us</span>
				</nav>
			</header>
			<section class="content-box">
				<div class="about-content">
					<section class="about-section">
						<h3>Who We Are?</h3>
						<figure class="logo-gc"><img src="<!--{$imagePath}-->about/logo-goalconstruction-about.jpg" alt=""/></figure>
						<p>Goal Construction has steadily grown from a small excavating company begun in 1996 into one of the region's most experienced and respected providers of residential, commercial, and governmental construction services. We manage projects ranging from small interior renovations to some of the most recognizable architectural landmarks throughout the region.</p>
					</section>
					<section class="about-section">
						<h3>How We Do It?</h3>
						<figure class="box-style"><img src="<!--{$imagePath}-->about/pic-about-02.jpg" alt=""/></figure>
						<p>We approach each project with a cooperative mindset. We work closely with clients, architects, and subcontractors toward the common goal of successful project delivery. Our specialized divisions and subsidiaries along with a diverse construction portfolio ensure that each project is matched with appropriate resources and expertise. </p>
						<p>Through technical skills, preconstruction know-how, and self-performance capability, we anticipate project challenges, develop solutions that meet clients' objectives, and deliver award-winning projects.</p>
					</section>
					<section class="about-section last">
						<h3>What We Believe In?</h3>
						<figure class="box-style"><img src="<!--{$imagePath}-->about/pic-about-03.jpg" alt=""/></figure>
						<p>With over 75% of our work coming from repeat clients and referrals, we place great value on the relationships our people develop with our clients. We recognize that communication is the cornerstone of these relationships; therefore, we listen and become partners in our clients' building successes.</p>
						<p>At Goal construction, we value integrity in all of our interactions, teamwork, shareholder's value, quality and delivery of excellent products and services, customer satisfaction, and we consider our reputation, employees and clients as our most important assets. We hold our work up to the highest moral, ethical and professional standards because doing what is fair just never gets old.</p>
						<p>Goal Construction has over fifteen yeares of professional experience in new home building and remodeling, below is the list of our services:</p>
					</section>
				</div>
				<footer class="content-footer">
					<section class="services-container">
						<div class="box-style" id="residential-box">
							<h3>Residential Service</h3>
							<ul>
								<li>Community Building</li>
								<li>Custom House Building</li>
								<li>Finishing Interior</li>
							</ul>
							<span class="btn-container"><a href="#" class="service-btn">Read more &raquo;</a></span>
						</div>
						<div class="box-style" id="commercial-box">
							<h3>Commercial Service</h3>
							<ul>
								<li>Commercial Buildings &amp; Malls</li>
								<li>Renovation</li>
								<li>Finishing Interior</li>
							</ul>
							<span class="btn-container"><a href="#" class="service-btn">Read more &raquo;</a></span>
						</div>
						<div class="box-style" id="govermental-box">
							<h3>Govermental Service</h3>
							<ul>
								<li>Federal Government</li>
								<li>State Government</li>
								<li>County Government</li>
							</ul>
							<span class="btn-container"><a href="#" class="service-btn">Read more &raquo;</a></span>
						</div>
					</section>
				</footer>
			</section>
		</section> <!-- end of CONTENT section-->