		<section class="content-section clearfix">
			<header>
				<hgroup>
					<h2>Brands</h2>
					<h4></h4>
				</hgroup>
				<nav class="breadcrumb">
					<a href="./">Home</a>
					<span>&rsaquo; Brands</span>
				</nav>
			</header>
			<section class="content-box">
				<ul class="brands-content">
					<li>
						<a href="http://www.subzero-wolf.com/">
							<figure><img src="<!--{$imagePath}-->brands/logo-wolf.jpg" alt="Wolf"/></figure>
							<span>What do you want your kitchen to be? Sub-Zero refrigerators, freezers and wine storage units are the definitive kitchen components. Made by hand. Tested to the nth degree. With innovative dual refrigeration.
							Built to the same exacting standards, Wolf cooking instruments help give the fullest expression to your love of good food and the pleasure of preparing it. Wolf fuels your passion for cooking. <strong>Visit the site &raquo;</strong></span>
						</a>
					</li>
					<li class="right">
						<a href="http://www.wood-mode.com">
							<figure><img src="<!--{$imagePath}-->brands/logo-woodmode.jpg" alt="Wood Mode"/></figure>
							<span>The company produces two full lines of customized cabinetry under the Wood-Mode and Brookhaven names, each with a multitude of storage options. Both feature solid wood doors and multi-step finishing processes, and both are available in traditional framed construction - where the door is mounted on a front frame - and contemporary frameless construction - where there is no face frame so the door is mounted on the cabinet case itself. <strong>Visit the site &raquo;</strong></span>
						</a>
					</li>
					<li>
						<a href="http://kohler.com">
							<figure><img src="<!--{$imagePath}-->brands/logo-kohler.jpg" alt="Kohler"/></figure>
							<span>From sustainable products in kitchen and bath to some of the most beautiful furniture of Baker and McGuire, from engines for lawn tractors and generators for marine and home standby, and power systems that protect data centers and urban landscapes, to a headquarters hotel for a golf Major, this is what Kohler Co. is all about. <strong>Visit the site &raquo;</strong></span>
						</a>
					</li>
					<li class="right">
						<a href="http://moen.com">
							<figure><img src="<!--{$imagePath}-->brands/logo-moen.jpg" alt="Moen"/></figure>
							<span>Moen is dedicated to designing and delivering beautiful products that last a lifetime - all over the world. Learn about our Moen philosophy, people who work at Moen, and even learn how you can join the team. <strong>Visit the site &raquo;</strong></span>
						</a>
					</li>
					<li>
						<a href="http://infinityproducts.com">
							<figure><img src="<!--{$imagePath}-->brands/logo-infinity.jpg" alt="Infinity Production"/></figure>
							<span>Infinity Products, Inc. is well known throughout the Safety and OEM industry as a leader in manufacturing high quality and reliable products.  We pride ourselves on manufacturing products that will last many years' rather than products with a short usage span.  Our products are used by many of the largest railroad companies throughout North America. <strong>Visit the site &raquo;</strong></span>
						</a>
					</li>
					<li class="right last">
						<a href="http://www.neff-of-chicago.com">
							<figure><img src="<!--{$imagePath}-->brands/logo-neff.jpg" alt="Neff of Chicago"/></figure>
							<span>PANIK Enterprises, LLC, doing business as NEFF of Chicago, is an independently-owned showroom and custom design boutique, proudly featuring the exquisite craft of luxury cabinetmaker NEFF Kitchens, Inc., regularly seen in Architectural Digest and Trends magazines. <strong>Visit the site &raquo;</strong></span>
						</a>
					</li>
				</ul>
			</section>
		</section> <!-- end of CONTENT section-->