<section class="content-section clearfix">
			<header>
				<hgroup>
					<h2>Contact Us</h2>
					<h5></h5>
				</hgroup>
				<nav class="breadcrumb">
					<a href="./">Home</a>
					<span>&rsaquo; Contact Us</span>
				</nav>
			</header>
			<section class="content-box">
				<div class="contact-form">
					<form method="post" action="">
						<div>
							<p>
								<label for="fullName">Your Full Name
								</label>
								<input type="text" id="fullName" name="fullName" class="required" />
								<!--<span class="notification">Enter a valid name</span>--></p>
							<p><label for="emailAddr"> Email Address</label><input type="text" id="emailAddr" name="emailAddr" class="required" /></p>
						</div>
						<div>
							<p><label for="phoneNumber">Phone Number</label><input type="text" id="phoneNumber" name="phoneNumber" class="required"/></p>
							<p>
								<label>Topic</label>
								<select class="required" name="topic">
									<option value="">Select One</option>
									<option>Governmental</option>
									<option>Residential</option>
									<option>Commercial</option>
									<option>Free Consultation</option>
								</select>
							</p>
						</div>
						<div>
							<p>
								<label>Where Did You Hear About Us</label>
								<select name="whereHear">
									<option value="">Select One</option>
									<option>Online Marketing</option>
									<option>Direct Website</option>
									<option>Referrals</option>
									<option>Other Companies</option>
									<option>Offline Advertisement</option>
								</select>
							</p>
						</div>
						<div class="fullwidth-row"><p><label for="msg"> Message</label><textarea id="msg" name="msg"  class="required"></textarea></p></div>
						<div class="fullwidth-row">
							<p>
								<span class="btn-container"><a href="javascript:void(0)" class="send-btn">Send</a></span>
							</p>
						</div>
					</form>
				</div>
				<footer class="content-footer">
					<div class="map" id="map1">
						<header><h5>Headquarter</h5><a href="http://maps.google.com/maps/ms?msa=0&msid=201417530102785650623.0004bdd907bb574e3f0c9&ie=UTF8&t=m&z=19&vpsrc=1&iwloc=0004bdd907bdfd2e6e361">(Find us on google)</a></header>
						<section>
							<aside><div id="head-map" style="width:362px; height:202px"></div></aside>
							<address>
								<p>1808 Old Meadow Rd #1414, McLean VA 22102 <br>
								Tel: 703-568-5888 | Fax: 703-714-1414</p>
							</address>
						</section>
					</div>
					<div class="map" id="map2">
						<header><h5>Sales Office</h5><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=4816+Dodson+Dr.+Annandale,+VA+22003&aq=&sll=38.916646,-77.216348&sspn=0.00211,0.002798&vpsrc=6&ie=UTF8&hq=&hnear=4816+Dodson+Dr,+Annandale,+Virginia+22003&ll=38.819916,-77.181541&spn=0.008451,0.01119&t=m&z=17&iwloc=A">(Find us on google)</a></header>
						<section>
							<aside><div id="sale-map" style="width:362px; height:202px"></div></aside>
							<address>
								<p>HD PLUS Construction HQ, 4816 Dodson Dr.<br> Annandale, VA 22003<br>
								Tel: 703-256-5498 | Fax: 703-256-5499</p>
							</address>
						</section>
					</div>
				</footer>
			</section>
		</section> <!-- end of CONTENT section-->