		<section class="content-section clearfix">
			<header>
				<hgroup>
					<h2>FAQ</h2>
					<h4></h4>
				</hgroup>
				<nav class="breadcrumb">
					<a href="./">Home</a>
					<span>&rsaquo; FAQ</span>
				</nav>
			</header>
			<section class="content-box">
				<ul class="faq-list">
					<li class="active">
						<a href="javascript:void(0)">What services do you provide?</a>
						<div class="answer">We design, build, renovate and permit commercial, residential, and governmental buildings. We are well known for constructing luxury buildings.</div>
					</li>
					<li>
						<a href="javascript:void(0)">Are there any "hidden fees" that Goal Construction charges?</a>
						<div class="answer">No, we provide the details of all fees up-front prior to start of the project to ensure good faith and assurance that we will be straightforward with you for the entire project.</div>
					</li>
					<li>
						<a href="javascript:void(0)">When should I contact Goal Construction to begin the planning process?</a>
						<div class="answer">You should contact us as soon as you decide that you want to go through with building a house or starting a new project, ideally right around the time you purchase or will purchase your land or existing property. We will help you choose the plan best-suited for your needs, whether it is residential or commercial, and make any changes that are needed. We will walk you through the construction process as well as informing you of the various costs that will arise during the duration, such as labor and county fees. The earlier you come to us, the less money you waste for your housing budget.</div>
					</li>
					<li>
						<a href="javascript:void(0)">Which areas do you cover?</a>
						<div class="answer">DC metropolitan area.</div>
					</li>
					<li>
						<a href="javascript:void(0)">How much money do I need upfront to start a project with Goal Construction?</a>
						<div class="answer">It varies. It depends on the project. (You need to get some more information from the business owner since this is far too little as is.)</div>
					</li>
					<li>
						<a href="javascript:void(0)">How long does it take to complete a project?</a>
						<div class="answer">When we do construction after beginning an excavation, it is our goal to be done in about 5-10 months. When weather is extremely cooperative and you are on top of a few responsibilities, we could finish in about 5 to 6 months. These estimates are subject to change depending on the specifications of the project.</div>
					</li>
					<li>
						<a href="javascript:void(0)">How do your prices compare to other builders?</a>
						<div class="answer">While most custom builders charge anywhere from $150 to $350 or more per square foot, our starting charge for new homes is about $120 per square foot, but this is not for a compromise on quality. We understand the real costs of building new homes inside and out, so we’ll do what we can to relieve some of the financial burden on you by being as cost effective as possible. A fair amount of custom builders, however, will charge you more and call it “variance costs”, saying that it will be used in the event that something unexpected arises during construction.  We cut out this part so you will be able to save more. We’ve built a reputation in the building industry for our construction quality, homeowner satisfaction, and overall value for the dollar that are unmatched to this day.</div>
					</li>
					<li>
						<a href="javascript:void(0)">Under “Which areas do you cover?”</a>
						<div class="answer">We have experience in building and designing homes located within the DC Metropolitan area, including Southern Maryland and Northern Virginia.</div>
					</li>
					<li>
						<a href="javascript:void(0)">Can we use a contractor or supplier that is not a Goal Construction preferred one?</a>
						<div class="answer">We have screened and worked alongside our contractors and suppliers for years and can vouch they are the best in the business with regards to the efficiency and quality of their workmanship, so we would not prefer to allow quality to be sacrificed by using someone else. It is because we have worked alongside with these same individuals for years that we have built our own reputation for high quality so we can assure you that you will only get the best service.</div>
					</li>
					<li>
						<a href="javascript:void(0)">Can you help me find a lot or a tear-down home to build a new house?</a>
						<div class="answer">If you need help finding the ideal lot for your new house, we can help narrow down your possible selections on lots or buildings to ensure your home is built in the right area with right size in mind.</div>
					</li>
					<li>
						<a href="javascript:void(0)">How does financing work?</a>
						<div class="answer">Building on your own lot can save you a fortune in the long run. You can reduce your interest rate by tearing down your existing home on the lot and putting the equity towards a down payment. During the project, you will receive a Construction-to-Permanent loan that works much like a mortgage, but it pays out in installments as the home is built instead of all at once and by the end of the project the loan is not much more different from a mortgage. While the loan may have the same rates and terms as a mortgage, there are also certain benefits you receive during the course of the project: rolling payments during construction, adding allowances to allow for additions such as adding a patio or proper landscaping and much more.</div>
					</li>
					<li>
						<a href="javascript:void(0)">Will you build from my own plans?</a>
						<div class="answer">We will review your plans and determine whether we are the right builder for you. Prices may be higher for completely custom homes, but this is not always the case. We would love to be given the opportunity to build your dream home, whether it is one of our models or your own. Usually there are no extra fees associated with bringing your own plans.</div>
					</li>
					<li>
						<a href="javascript:void(0)">If I want to make changes to any of the floor plans or designs, what are the costs involved?</a>
						<div class="answer">Usually there are architectural or design fees associated with any significant changes to the original plans or designs due to new drawings required. The amount can vary; however, it is usually between $1500 to $5000 depending on the amount and type of changes.</div>
					</li>
					<li>
						<a href="javascript:void(0)">What other costs should I be aware of if I decide to build on my own lot?</a>
						<div class="answer">It is important that you are aware of additional site work (such as demolition, utility connection, site plans, landscaping, and etc) and county fees that your lot may need. These costs vary depending on lot conditions and county regulations, but we will be able to assist you in these matters as well.</div>
					</li>
					<li>
						<a href="javascript:void(0)">How do I go about completing my site work? Do you assist with this?</a>
						<div class="answer">We pride ourselves in being involved from prior to the start of construction all the way to the end.  We will assist you in managing your site work without charging you any management fees as well as allowing you to pick your own contractors and pay them directly. And don’t worry; we don’t get any sort of compensation or kickback for referring you to our trusted contractors. Whether this is you first home being built or not, we will do whatever we can to make the process go as smoothly as possible: you can count on us!</div>
					</li>
				</ul>
			</section>
		</section> <!-- end of CONTENT section-->
