		<section id="slide-show">
			<ul id="slide-picture">
				<li>
					<img src="<!--{$imagePath}-->slides/slide-dream.jpg" alt="We Build Your Dream House" />
					<div class="slide-description">We Build Your <br><strong>Dream</strong> House</div>
				</li>
				<li style="display: none;">
					<img src="<!--{$imagePath}-->slides/slide-phases.jpg" alt="Phases" />
				</li>
				<li style="display: none;">
					<img src="<!--{$imagePath}-->slides/slide-portfolio.jpg" alt="Portfolio" />
				</li>
			</ul>
			<nav id="slide-navigation">
				<ul id="slide-navigation-buttons">
					<li class="active"><a href="javascript:void(0)"></a></li>
					<li><a href="javascript:void(0)"></a></li>
					<li><a href="javascript:void(0)"></a></li>
					<li><a href="javascript:void(0)"></a></li>
					<li><a href="javascript:void(0)"></a></li>
				</ul>
			</nav>
		</section>
		
		<section class="content-section clearfix">
			<div id="welcome-section">
				<section id="welcome-content">
					<h2>Welcome to Goal Construction</h2>
					<p>Your own style of luxury home built where you want to live. We build your Dream as well as your Luxurious Dream Home. Whether we are there to do the smallest piece of trim or the largest custom home ever built, our team is thorough at listening to our customers’ needs and executing their dreams.</p>
					<p>Goal Construction has been providing a combination of luxury, quality, and value. We will customize our floor plans and build you the home that's perfect for you at an unbeatable price.</p>
					<div class="get-started"><a href="<!--{$applicationPath}-->?action=strategy"></a></div>
				</section>
				<aside id="welcome-picture">
					<img src="<!--{$imagePath}-->img-welcome.jpg" alt="welcome picture" />
				</aside>
			</div>
			<div id="services-section" class="home-section">
				<div class="section-title"><h2><span>Services</span></h2></div>
				<section id="services-box">
					<div id="residential-box" data-link="<!--{$applicationPath}-->?action=services#residential-box">	
						<h3>Residential Service</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit euismod magna, porta suscipit magna elementum at. Nam congue erat. </p>
						<ul>
							<li>Community Building</li>
							<li>Custom House Building</li>
							<li>Finishing Interior</li>
						</ul>
						<aside class="box-picture">
							<img src="<!--{$imagePath}-->img-residential.jpg" alt="Residential Services" />
							<a href="<!--{$applicationPath}-->?action=services#residential-box" class="more">More &raquo;</a>
						</aside>
					</div>
					<div id="commercial-box" data-link="<!--{$applicationPath}-->?action=services#commercial-box">	
						<h3>Commercial Service</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit euismod magna, porta suscipit magna elementum at. Nam congue erat. </p>
						<ul>
							<li>Commercial Buildings &amp; Malls</li>
							<li>Renovation</li>
							<li>Finishing Interior</li>
						</ul>
						<aside class="box-picture">
							<img src="<!--{$imagePath}-->img-commercial.jpg" alt="Commercial Services" />
							<a href="<!--{$applicationPath}-->?action=services#commercial-box" class="more">More &raquo;</a>
						</aside>
					</div>
					<div id="govermental-box" data-link="<!--{$applicationPath}-->?action=services#governmental-box">	
						<h3>Governmental Service</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit euismod magna, porta suscipit magna elementum at. Nam congue erat. </p>
						<ul>
							<li>Federal Government</li>
							<li>State Government</li>
							<li>County Government</li>
						</ul>
						<aside class="box-picture">
							<img src="<!--{$imagePath}-->img-govermental.jpg" alt="Governmental Services" />
							<a href="<!--{$applicationPath}-->?action=services#governmental-box" class="more">More &raquo;</a>
						</aside>
					</div>
				</section>
			</div>
			<div id="portfolio-section" class="home-section">
				<div class="section-title">
					<h2><span>Portfolio</span></h2>
					<a href="javascript:void(0)" class="view-all"><span>View all</span></a>
				</div>
				<div class="carousel" id="portfolio-holder">
					<a class="prev-button" href="javascript:void(0)"></a>
					<ul id="portfolio-list">
						<li>
							<div>
								<a href="javascript:void(0)" class="pic-holder">
									<span></span>
									<img src="<!--{$imagePath}-->img-test01.jpg" alt="img-test01" />
								</a>
								<a class="view-in-gallery" href="javascript:void(0)">View in gallery</a>
							</div>
						</li>
						<li>
							<div>
								<a href="javascript:void(0)" class="pic-holder">
									<span></span>
									<img src="<!--{$imagePath}-->img-test01.jpg" alt="img-test01" />
								</a>
								<a class="view-in-gallery" href="javascript:void(0)">View in gallery</a>
							</div>
						</li>
						<li>
							<div>
								<a href="javascript:void(0)" class="pic-holder">
									<span></span>
									<img src="<!--{$imagePath}-->img-test01.jpg" alt="img-test01" />
								</a>
								<a class="view-in-gallery" href="javascript:void(0)">View in gallery</a>
							</div>
						</li>
						<li>
							<div>
								<a href="javascript:void(0)" class="pic-holder">
									<span></span>
									<img src="<!--{$imagePath}-->img-test01.jpg" alt="img-test01" />
								</a>
								<a class="view-in-gallery" href="javascript:void(0)">View in gallery</a>
							</div>
						</li>
						<li>
							<div>
								<a href="javascript:void(0)" class="pic-holder">
									<span></span>
									<img src="<!--{$imagePath}-->img-test01.jpg" alt="img-test01" />
								</a>
								<a class="view-in-gallery" href="javascript:void(0)">View in gallery</a>
							</div>
						</li>
					</ul>
					<a class="next-button" href="javascript:void(0)"></a>
				</div>
			</div>
			<div id="brands-section" class="home-section">
				<div class="line-divider">&nbsp;</div>
				<section>
					<div class="section-title"><h2><span>Brands</span></h2></div>
					<div id="brands-holder" class="carousel">
						<a class="prev-button" href="javascript:void(0)"></a>
						<ul id="brands-list">
							<li><a href="http://www.subzero-wolf.com/"><img src="<!--{$imagePath}-->logo-wolf.jpg" alt="Wolf" /></a></li>
							<li><a href="http://www.wood-mode.com"><img src="<!--{$imagePath}-->logo-woodmode.jpg" alt="Wood Mode" /></a></li>
							<li><a href="http://kohler.com"><img src="<!--{$imagePath}-->logo-kohler.jpg" alt="Kohler" /></a></li>
							<li><a href="http://moen.com"><img src="<!--{$imagePath}-->logo-moen.jpg" alt="Moen" /></a></li>
							<li><a href="http://infinityproducts.com"><img src="<!--{$imagePath}-->logo-infinity.jpg" alt="Infinity Production" /></a></li>
							<li><a href="http://www.neff-of-chicago.com"><img src="<!--{$imagePath}-->logo-neff.jpg" alt="Neff of Chicago" /></a></li>
						</ul>
						<a class="next-button" href="javascript:void(0)"></a>
					</div>
				</section>
			</div>
		</section> <!-- end of CONTENT section-->