		<section id="slide-show">
			<ul id="slide-picture">
				<li class="active">
					<a href="<!--{$applicationPath}-->?action=services"><img src="<!--{$imagePath}-->slides/slide-dream.jpg" alt="We Build Your Dream House" /><div class="slide-description">We Build Your <br>Dream House</div></a>
					
				</li>
				<li>
					<a href="<!--{$applicationPath}-->?action=strategy">
						<img src="<!--{$imagePath}-->slides/slide-phases.jpg" />
						<div class="slide-description">Explore<br /> Our Strategy</div>
					</a>
					
				</li>
				<li>
					<a href="<!--{$applicationPath}-->?action=portfolio"><img src="<!--{$imagePath}-->slides/slide-portfolio.jpg" /><div class="slide-description">Explore Our <br>Photo Gallery</div></a>
					
				</li>
				<li>
					<a href="<!--{$applicationPath}-->?action=contact"><img src="<!--{$imagePath}-->slides/slide-contact.jpg" />
						<div class="slide-description">Call Us Now<br/> 703-568-5888</div>
					</a>
					
				</li>
			</ul>
			<nav id="slide-navigation">
				<ul id="slide-navigation-buttons">
				</ul>
			</nav>
		</section>
		
		<section class="content-section clearfix">
			<div id="welcome-section">
				<section id="welcome-content">
					<h2>Welcome to Goal Construction</h2>
					<p>Your own style of luxury home built where you want to live. We build your Dream as well as your Luxurious Dream Home. Whether we are there to do the smallest piece of trim or the largest custom home ever built, our team is thorough at listening to our customers’ needs and executing their dreams.</p>
					<p>Goal Construction has been providing a combination of luxury, quality, and value. We will customize our floor plans and build you the home that's perfect for you at an unbeatable price.</p>
					<div class="get-started"><a href="<!--{$applicationPath}-->?action=strategy"></a></div>
				</section>
				<aside id="welcome-picture">
					<img data-link="<!--{$applicationPath}-->?action=strategy" src="<!--{$imagePath}-->img-welcome.jpg" alt="welcome picture" />
				</aside>
			</div>
			<div id="services-section" class="home-section">
				<div class="section-title"><h2 data-link="<!--{$applicationPath}-->?action=services"><span>Services</span></h2></div>
				<section id="services-box">
					<div id="residential-box" data-link="<!--{$applicationPath}-->?action=services#residential-box">	
						<h3>Residential Service</h3>
						<p>Your house is perhaps your most valuable asset. It's more than a house, it's your home. Don't let just anyone work on your home - the team at Goal Construction is licensed, bonded, insured and experienced at all facets of home remodeling and additions.</p>
						<ul>
							<li>Community Building</li>
							<li>Custom House Building</li>
							<li>Finishing Interior</li>
						</ul>
						<aside class="box-picture">
							<img src="<!--{$imagePath}-->img-residential.jpg" alt="Residential Services" width="282" height="155" />
							<a href="<!--{$applicationPath}-->?action=services#residential-box" class="more">More &raquo;</a>
						</aside>
					</div>
					<div id="commercial-box" data-link="<!--{$applicationPath}-->?action=services#commercial-box">	
						<h3>Commercial Service</h3>
						<p>We're efficient, we pay close attention to your budget and we share your vision for the perfect commercial construction project. We know the ins and outs of the permitting process. We have an extensive network of the finest subcontractors and suppliers in DC area.</p>
						<ul>
							<li>Commercial Buildings &amp; Malls</li>
							<li>Renovation</li>
							<li>Finishing Interior</li>
						</ul>
						<aside class="box-picture">
							<img src="<!--{$imagePath}-->img-commercial.jpg" alt="Commercial Services" width="282" height="155" />
							<a href="<!--{$applicationPath}-->?action=services#commercial-box" class="more">More &raquo;</a>
						</aside>
					</div>
					<div id="governmental-box" data-link="<!--{$applicationPath}-->?action=services#governmental-box">	
						<h3>Governmental Service</h3>
						<p>Goal Construction is a leading general contractor offering construction management services and specializing in the government construction industry. We are a family owned and operated company dedicated to providing quality construction at affordable prices.</p>
						<ul>
							<li>Federal Government</li>
							<li>State Government</li>
							<li>County Government</li>
						</ul>
						<aside class="box-picture">
							<img src="<!--{$imagePath}-->img-govermental.jpg" alt="Governmental Services" width="282" height="155" />
							<a href="<!--{$applicationPath}-->?action=services#governmental-box" class="more">More &raquo;</a>
						</aside>
					</div>
				</section>
			</div>
			<div id="portfolio-section" class="home-section">
				<div class="section-title">
					<h2 data-link="<!--{$applicationPath}-->?action=portfolio"><span>Portfolio</span></h2>
					<a href="<!--{$applicationPath}-->?action=portfolio" class="view-all"><span>View all</span></a>
				</div>
				<div class="carousel clearfix" id="portfolio-holder">
					<a class="prev" href="javascript:void(0)"></a>
					<nav id="portfolio-list">
						<ul class="clearfix">
							<!--{foreach from=$SiteData.homepage.portfolio key=k item=image}-->
							<li>
								<div>
									<a href="<!--{$image.url}-->" class="pic-holder"  data-fancybox-group="thumb">
										<span></span>
										<img src="<!--{$image.url}-->" width="150" height="100"  />
									</a>
									<a class="view-in-gallery" href="<!--{$image.galleryUrl}-->">View in gallery</a>
								</div>
							</li>
							<!--{/foreach}-->							
						</ul>
					</nav>
					<a class="next" href="javascript:void(0)"></a>
				</div>
			</div>
			<div id="brands-section" class="home-section">
				<div class="line-divider">&nbsp;</div>
				<section>
					<div class="section-title"><h2 data-link="<!--{$applicationPath}-->?action=brands"><span>Brands</span></h2></div>
					<div id="brands-holder" class="carousel">
						<a class="prev-button" href="javascript:void(0)"></a>
						<ul id="brands-list">
							<li><a href="http://www.subzero-wolf.com/"><img src="<!--{$imagePath}-->logo-wolf.jpg" alt="Wolf" /></a></li>
							<li><a href="http://www.wood-mode.com"><img src="<!--{$imagePath}-->logo-woodmode.jpg" alt="Wood Mode" /></a></li>
							<li><a href="http://kohler.com"><img src="<!--{$imagePath}-->logo-kohler.jpg" alt="Kohler" /></a></li>
							<li><a href="http://moen.com"><img src="<!--{$imagePath}-->logo-moen.jpg" alt="Moen" /></a></li>
							<li><a href="http://infinityproducts.com"><img src="<!--{$imagePath}-->logo-infinity.jpg" alt="Infinity Production" /></a></li>
							<li><a href="http://www.neff-of-chicago.com"><img src="<!--{$imagePath}-->logo-neff.jpg" alt="Neff of Chicago" /></a></li>
						</ul>
						<a class="next-button" href="javascript:void(0)"></a>
					</div>
				</section>
			</div>
		</section> <!-- end of CONTENT section-->
		<div class="divider"></div>