		<section class="content-section clearfix">
			<header class="has-sub-category">
				<hgroup>
					<h2>Portfolio</h2>
					<h5>Some text goes here</h5>
				</hgroup>
				<nav class="breadcrumb">
					<a href="./">Home</a>
					<span>&rsaquo; Portfolio</span>
				</nav>
			</header>
			<nav class="sub-category">
				<ul>
					<li class="active"><a href="javascript:void(0)">All</a></li>
					<li><a href="javascript:void(0)">Library</a></li>
					<li><a href="javascript:void(0)">Home Theater</a></li>
					<li><a href="javascript:void(0)">Home Office</a></li>
					<li><a href="javascript:void(0)">Wine Rack</a></li>
					<li><a href="javascript:void(0)">Bookcase</a></li>
					<li><a href="javascript:void(0)">Mantel</a></li>
					<li><a href="javascript:void(0)">Billiard Room</a></li>
				</ul>
			</nav>
			<section class="content-box">
				<ul class="portfolio-gallery-list">
					<li>
						<a href="javascript:void(0)">
							<span></span>
							<img src="<!--{$imagePath}-->portfolio/pic-millwork-01.jpg" alt="Millwork01" />
						</a>
					</li>
					<li>
						<a href="javascript:void(0)" class="loading">
							<img src="<!--{$imagePath}-->portfolio/pic-millwork-02.jpg" alt="Millwork02" />
						</a>
					</li>
					<li class="no-margin">
						<a href="javascript:void(0)">
							<img src="<!--{$imagePath}-->portfolio/pic-millwork-03.jpg" alt="Millwork03" />
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<img src="<!--{$imagePath}-->portfolio/pic-millwork-04.jpg" alt="Millwork04" />
						</a>
					</li>
					<li>
						<a href="javascript:void(0)">
							<img src="<!--{$imagePath}-->portfolio/pic-millwork-05.jpg" alt="Millwork05" />
						</a>
					</li>
					<li class="no-margin">
						<a href="javascript:void(0)">
							<img src="<!--{$imagePath}-->portfolio/pic-millwork-06.jpg" alt="Millwork06" />
						</a>
					</li>
				</ul>
				<footer class="content-footer">	
					<nav class="pagination">
						<span>1</span>
						<a href="javascript:void(0)">2</a>
						<a href="javascript:void(0)">3</a>
						<a href="javascript:void(0)">4</a>
					</nav>
				</footer>
			</section>
		</section> <!-- end of CONTENT section-->