		<section class="content-section clearfix">
			<header>
				<hgroup>
					<h2>Services</h2>
					<h4></h4>
				</hgroup>
				<nav class="breadcrumb">
					<a href="./">Home</a>
					<span>&rsaquo; Services</span>
				</nav>
			</header>
			<section class="content-box">
				<section class="services-content">
					<p>At Goal Construction, we believe that your project should be kept as simple and straightforward as possible, regardless of how complex the task may seem. We try to avoid subcontractors and outsourcing whenever possible.</p>
					<p>We offer a wide variety of services from partial remodels to whole house construction.  We have direct access to experts in a wide variety of specialized trade fields such as kitchen and bath design. We pride ourselves on bringing the most experienced person available in each field to your project.</p>
					<p>Our materials are bought in bulk from reputable manufactures which allows us to keep our prices low with high quality. Since we manage the whole process from top to bottom, we ensure a quality result.</p>
					<div class="services-box" id="residential-box">
						<h3>Residential Construction Services</h3>
						<figure class="box-style"><img src="<!--{$imagePath}-->services/pic-services-residential.jpg" alt="Residential Construction Services - Home Remodeling Virginia"/></figure>
						<p>Your house is perhaps your most valuable asset. It's more than a house, it's your home. Don't let just anyone work on your home - the team at Goal Construction is licensed, bonded, insured and experienced at all facets of home remodeling and additions.</p>
						<p>The residential general contractors at Goal Construction not only have the experience to handle additions and remodels at your home - they have a vast network of only the best subcontractors in the area to make sure your project is on time and on budget.</p>
						<p>Given our residential general contracting experience, we can advise you on issues such as which projects are likely to increase the value of your home, whether you need a building permit and can consult you on design ideas that work for your specific home.</p>
						<p>In the current economy, moving doesn't make sense. Remodel your home, change it to perfectly suit your tastes and interests. We handle it all, below are some of our services:</p>
						<ul>
							<li>Building Custom Homes</li>
							<li>Complete Interior and Exterior</li>
							<li>Home Remodels</li>
							<li>Deck Additions</li>
							<li>Room Additions</li>
							<li>Hardwood Flooring</li>
							<li>Kitchens and Bathrooms</li>
						</ul>
					</div>
					<div class="services-box" id="commercial-box">
						<h3>Commercial Construction Services</h3>
						<figure class="box-style"><img src="<!--{$imagePath}-->services/pic-services-commercial.jpg" alt="Commercial Construction VA"/></figure>
						<p>When you're looking for a reliable, experienced commercial general contractor, look no further than Goal Construction.</p>
						<p>We're efficient, we pay close attention to your budget and we share your vision for the perfect commercial construction project. We know the ins and outs of the permitting process. We have an extensive network of the finest subcontractors and suppliers in the DC area. We take on your job as if it were our own.</p>
						<p>We know that you cannot tolerate having your project completed late or over budget. Let us manage it and have the piece of mind that it will be completed in the most appropriate manner. When you are ready to experience top-notch service, hire us as the general contractor for your commercial or multi-family project.</p>
					</div>
					<div class="services-box" id="governmental-box">
						<h3>Governmental Construction Services</h3>
						<figure class="box-style"><img src="<!--{$imagePath}-->services/pic-services-govermental.jpg" alt="Government Construction Services"/></figure>
						<p>Goal Construction is a leading general contractor offering construction management services and specializing in the government construction industry. We are a family-owned and operated company dedicated to providing quality construction at affordable prices.</p>
						<p>Our construction management teams have superior knowledge and expertise of the construction management industry. We will manage your construction or remodeling project with a focus on cost control while keeping your project right on schedule.</p>
						<p>As we have a history of providing professional service and quality results, Goal Construction has become a well-trusted name in government construction services throughout the DC area.</p>
						<p>Some of the services that we offer include:</p>
						<ul>
							<li>General Construction</li>
							<li>Remodeling</li>
							<li>Design-Build Construction</li>
							<li>Metal Building Construction</li>
							<li>Green Construction</li>
						</ul>
					</div>
				</section>
				<footer class="content-footer">
					<ul class="box-container">
						<li>
							<a href="<!--{$applicationPath}-->?action=contact" class="box-style" id="contact-box">
								<img src="<!--{$imagePath}-->services/fig-footer-tel.png" alt="" />
								<h6>Contact Us Today:</h6>
								<span>703-568-5888</span>
							</a>
						</li>
						<li>
							<a href="<!--{$applicationPath}-->?action=portfolio" class="box-style" id="portfolio-box">
								<img src="<!--{$imagePath}-->services/fig-footer-portfolio.png" alt="" />
								<h6>Take A Look At:</h6>
								<span>Our Portfolio</span>
							</a>
						</li>
					</ul>
				</footer>
			</section> <!-- end of CONTENT-BOX-->
		</section> <!-- end of CONTENT section-->
