	<section class="content-section clearfix">
			<header>
				<hgroup>
					<h2>Our Strategy</h2>
					<h4></h4>
				</hgroup>
				<nav class="breadcrumb">
					<a href="./">Home</a>
					<span>&rsaquo; Our Strategy</span>
				</nav>
			</header>
			<section class="content-box">
				<section class="strategy-content">
					<p>We demonstrate honest values and superior work with an on-time and on-budget delivery to your absolute satisfaction. Strategy includes the following phases: <strong>Design</strong>, <strong>Finance</strong> and <strong>Construction</strong>.</p>
					<section class="phases-box">
						<nav>
							<a href="#design-box" class="design-nav active"><span>Design Phases</span></a>
							<a href="#finance-box" class="finance-nav"><span>Financing Phases</span></a>
							<a href="#construction-box" class="construction-nav"><span>Construction Phases</span></a>
						</nav>
						<div id="design-box"  style="display: none;">
							<ul class="numbered-list">
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/design/pic-01.jpg" alt=""/></figure>
									<span>1</span>
									<div><h5>Choose Your Home Plan</h5>
									<p>Choose your home plan from one of our most popular plans or bring your own. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/design/pic-02.jpg" alt=""/></figure>
									<span>2</span>
									<div><h5>Schedule a Design Meeting</h5>
									<p>Ask for an appointment with a member of our design team to assist you in reviewing your floor plans and optional features whether it could fit your needs and budget. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/design/pic-03.jpg" alt=""/></figure>
									<span>3</span>
									<div><h5>Meet With a Designer &amp; Architect</h5>
									<p>Work with our experienced professionals about your plan. Our team will recommend you the best solution to complement your needs and desires.</p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/design/pic-04.jpg" alt=""/></figure>
									<span>4</span>
									<div><h5>Finalize Your Design</h5>
									<p>When your final design is ready, you will be called in for an appointment where you will review your floor plans and approve any changes. </p></div>
								</li>
							</ul>
							<footer><a class="next-section" href="#finance-box">Next Section &raquo;</a></footer>
						</div>
						<div id="finance-box" style="display: none;">
							<p>When building with Goal Construction and partnering with one of our preferred lenders, obtaining complete financing has never been easier.
							Combine your lot, your construction, permit fees, site work and mortgage loan into one loan and one simple closing.
							You will have money right at your fingertips.</p>
							<h4>Here are some of the features of a Construction to Permanent Loan:</h4>
							<img src="<!--{$imagePath}-->strategy/finance/pic-01.jpg" alt=""/>
							<ul>
								<li>100% financing based on lender approval</li>
								<li>No money down</li>
								<li>0% Points 0% Origination Fee Pricing Possible</li>
								<li>Loan amount may be decreased at modification with no PMI</li>
								<li>Borrower pays interest only during the Construction phase (with an option to roll up interest into the loan)</li>
							</ul>
							<p>Give one of our preferred lenders a call today and get pre-approved right away.</p>
							<p><span class="tel-number">Tel: 703-568-5888<br>Fax: 703-714-1414</span></p>
							<footer>
								<a class="prev-section" href="#design-box">&laquo; Prev. Section</a>
								<a class="next-section" href="#construction-box">Next Section &raquo;</a>
							</footer>
						</div>
						<div id="construction-box" style="display: none;">
							<ul class="numbered-list">
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-01.jpg" alt=""/></figure>
									<span>1</span>
									<div><h5>Foundation</h5>
									<p>The foundation and utilities will be identified and marked. The site will be located and excavated. Foundation walls are poured. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-02.jpg" alt=""/></figure>
									<span>2</span>
									<div><h5>Framing</h5>
									<p>Walls, floors and roof framing are completed. Window and door openings are positioned according to blueprints. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-03.jpg" alt=""/></figure>
									<span>3</span>
									<div><h5>Roofing</h5>
									<p>Shingles, windows and exterior sheathing are installed. Aluminum or vinyl gutters are installed as well.</p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-04.jpg" alt=""/></figure>
									<span>4</span>
									<div><h5>Dry Wall</h5>
									<p>Electrical, Heating, Ventilation (HVAC) and plumbing systems are in. Siding application and cornice work will have been completed. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-05.jpg" alt=""/></figure>
									<span>5</span>
									<div><h5>Wood Trim &amp; Doors</h5>
									<p>Interior doors are set and the moldings are installed. Staircase railings are added. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-06.jpg" alt=""/></figure>
									<span>6</span>
									<div><h5>Painting</h5>
									<p>A primer coat and finish coat is applied to all walls. Proper paint or other wall covering is applied according to the specifications. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-07.jpg" alt=""/></figure>
									<span>7</span>
									<div><h5>Cabinetry &amp; Countertops</h5>
									<p>Kitchen cabinets are set and its countertops installed. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-08.jpg" alt=""/></figure>
									<span>8</span>
									<div><h5>Finalize Your Design</h5>
									<p>Final plumbing and electrical fixtures will be set. The flooring and/or carpeting will be installed. </p></div>
								</li>
								<li class="full-width">
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-09.jpg" alt=""/></figure>
									<span>9</span>
									<div><h5>Punch-out</h5>
									<p>Completion check for interior and exterior finishing of the house. </p></div>
								</li>
							</ul>
							<footer><a class="prev-section" href="#finance-box">&laquo; Prev. Section</a></footer>
						</div>
					</section>
				</section>
			</section>
		</section> <!-- end of CONTENT section-->