	<section class="content-section clearfix">
			<header>
				<hgroup>
					<h2>Our Strategy</h2>
					<h4></h4>
				</hgroup>
				<nav class="breadcrumb">
					<a href="./">Home</a>
					<span>&rsaquo; Our Strategy</span>
				</nav>
			</header>
			<section class="content-box">
				<section class="strategy-content">
					<p>We demonstrate honest values and superior work with an on-time and on-budget delivery to your absolute satisfaction. Strategy includes the following phases: <strong>Design</strong>, <strong>Finance</strong> and <strong>Construction</strong>.</p>
					<section class="phases-box">
						<nav>
							<a href="#design-box" class="design-nav active"><span>Design Process</span></a>
							<a href="#finance-box" class="finance-nav"><span>Financing Process</span></a>
							<a href="#construction-box" class="construction-nav"><span>Construction Phases</span></a>
						</nav>
						<div id="design-box" style="display: none;">
							<ul class="numbered-list">
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/design/pic-01.jpg" alt=""/></figure>
									<span>1</span>
									<div><h5>Choosing Your Ideal Home Plan</h5>
									<p>Browse our home catalog and pick one that is to your liking to or bring in your own custom home design. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/design/pic-02.jpg" alt=""/></figure>
									<span>2</span>
									<div><h5>Setting up a Design Meeting</h5>
									<p>An appointment with one of our design team members will not only consist of reviewing your floor plans as well as any other optional features you may opt for, but we will also take the time to make sure that we’re adhering to your budget and any concerns you may have. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/design/pic-03.jpg" alt=""/></figure>
									<span>3</span>
									<div><h5>Meeting the Architect and the Home Designer</h5>
									<p>Have an opportunity to meet with the key individuals who will be overseeing the design aspect of your house. They can offer valuable input on how to handle the aesthetic as well as the practical aspects of your home design and will work to ensure you’re satisfied with the final design draft.</p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/design/pic-04.jpg" alt=""/></figure>
									<span>4</span>
									<div><h5>Finalization of House Design</h5>
									<p>As soon as your house design has been finalized, we’ll call you in for an appointment so you can get the final say in the floor plans as well as approve in any changes we may have made. </p></div>
								</li>
							</ul>
							<footer><a class="next-section" href="#finance-box">Next Section &raquo;</a></footer>
						</div>
						<div id="finance-box" style="display: none;">
							<p>Contracting Goal Construction means we can partner you with one of our preferred lenders so the sometimes tedious financing process is as simple as pie. We can combine everything: your lots, the construction costs, permit fees, site work and mortgage loan, all into one loan and one closing so you don’t have to worry about not paying for something.</p>
							<h4>Here are a few of the features you would expect to see on one of our Construction to Permanent Loans:</h4>
							<img src="<!--{$imagePath}-->strategy/finance/pic-01.jpg" alt=""/>
							<ul>
								<li>Lender-approved 100% financing</li>
								<li>No money down</li>
								<li>0% Points 0% Origination Fee Pricing Possible</li>
								<li>Loan amount may be decreased at modification with no PMI</li>
								<li>Interest is only paid during the Construction phase (with an option to roll up interest into the loan)</li>
							</ul>
							<p>Give one of our preferred lenders a call today and get pre-approved to get started building your dream home right away.</p>
							<p><span class="tel-number">Tel: 703-568-5888<br>Fax: 703-714-1414</span></p>
							<footer>
								<a class="prev-section" href="#design-box">&laquo; Prev. Section</a>
								<a class="next-section" href="#construction-box">Next Section &raquo;</a>
							</footer>
						</div>
						<div id="construction-box" style="display: none;">
							<ul class="numbered-list">
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-01.jpg" alt=""/></figure>
									<span>1</span>
									<div><h5>Foundation</h5>
									<p>Markers for the foundation and utilities will be identified and marked. Site will be excavated followed by pouring and forming the walls of the foundation. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-02.jpg" alt=""/></figure>
									<span>2</span>
									<div><h5>Framing</h5>
									<p>Wooden framing for the walls, floors and roof is built. According to blueprints, door and window opening are position and marked. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-03.jpg" alt=""/></figure>
									<span>3</span>
									<div><h5>Roofing</h5>
									<p>The shingles, windows and exterior sheathing of the roof are installed as well as your choice in aluminum or vinyl gutters.</p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-04.jpg" alt=""/></figure>
									<span>4</span>
									<div><h5>Dry Wall</h5>
									<p>Electrical, Heating, Ventilation (HVAC) and plumbing systems are installed along with the house siding and cornice. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-05.jpg" alt=""/></figure>
									<span>5</span>
									<div><h5>Wood Trim & Doors</h5>
									<p>Interior doors are placed along with their moldings and staircase railings are added. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-06.jpg" alt=""/></figure>
									<span>6</span>
									<div><h5>Painting</h5>
									<p>Every wall in the house will get a primer coat and finish coast of paint, or various wall covering as per customer’s preference. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-07.jpg" alt=""/></figure>
									<span>7</span>
									<div><h5>Cabinetry & Countertops</h5>
									<p>Kitchen cabinets are set and countertops are installed. </p></div>
								</li>
								<li>
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-08.jpg" alt=""/></figure>
									<span>8</span>
									<div><h5>Finalize Your Design</h5>
									<p>Final plumbing and electrical fixtures will be installed. The flooring and/or carpeting is installed as well. </p></div>
								</li>
								<li class="full-width">
									<figure><img src="<!--{$imagePath}-->strategy/construction/pic-09.jpg" alt=""/></figure>
									<span>9</span>
									<div><h5>Punch-out</h5>
									<p>Thorough check of both the inside and outside of house to ensure it meets our high quality standards as well as your liking. </p></div>
								</li>
							</ul>
							<footer><a class="prev-section" href="#finance-box">&laquo; Prev. Section</a></footer>
						</div>
					</section>
				</section>
			</section>
		</section> <!-- end of CONTENT section-->
